{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1> Заказы</h1>
    <form action="{% url 'DZ2:orders' %}" method="POST">
        {% csrf_token %}
        <label >Сортировать </label>
        <input type="radio" name="radio" value="week"  > За неделю<Br>
        <input type="radio" name="radio" value="month"> За месяц<Br>
        <input type="radio" name="radio" value="year"> За год<Br>
        <button type="submit">Показать</button>
      
    </form>
    
    {% for order in orders %}
        <p>{{order.id}} | {{order.product.name}} | {{order.product.discription}}
            | {{order.date_create}}
        </p>
        
    {% endfor %}
        
{% endblock content %}